$color-primary: rgba(27, 28, 31, 0.863);
$color-secondary: rgb(42, 0, 51);
.header{
  background-color: black;
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0;
}

.custom{
  background: $color-primary;
}
.button{
  background: $color-primary;
  color:white;
  margin: 8px;
  border-color:$color-secondary;
}
.button:hover{
  background: $color-secondary;
  box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 0.5);
}
.button:focus{
  border-top: $color-secondary 3px solid;
  box-shadow: none;
}
.brand{
  text-shadow: 0 0 2px $color-secondary;
}
.left{
  margin: 0px !important;
}
.justify{
  justify-content: flex-end;
}
